# Introduction to Python for Machine Learning Quiz 1

What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [1]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [2]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8


If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

In [3]:
import pandas as pd
import numpy as np

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [4]:
array  = np.array([[94, 89, 63],
                   [93, 92, 48],
                   [92, 94, 56]])

array[:2, 1:]

array([[89, 63],
       [92, 48]])

Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [5]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

### Import dependencies and Load dataset.

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:
Perform a groupby sum aggregation on ‘Item’

In [8]:
array  = np.array([[94, 89, 63],
                   [93, 92, 48],
                   [92, 94, 56]])

array[:2, 1:]

array([[89, 63],
       [92, 48]])

What is the total Protein supply quantity in Madagascar in 2015?

In [9]:
grouped_data = df.groupby(["Area", "Element"]).agg({"Y2015" : ["sum"]})
grouped_data.loc["Madagascar"]

                                           Y2015
                                             sum
Element
Domestic supply quantity                31214.98
Export Quantity                           494.75
Fat supply quantity (g/capita/day)         91.85
Feed                                     2070.22
Food                                    21120.65
Food supply (kcal/capita/day)            7685.00
Food supply quantity (kg/capita/yr)       871.59
Import Quantity                          1721.80
Losses                                   2176.00
Other uses (non-food)                    3957.12
Processing                               1803.00
Production                              29482.89
Protein supply quantity (g/capita/day)    173.05
Residuals                                -616.00
Seed                                      699.00
Stock Variation                          -505.00
Total Population - Both sexes           24234.00

What is the total number of unique countries in the dataset?

In [10]:
df.Area.nunique()

49

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [11]:
grouped_elem = df.groupby("Element")
gp_d = grouped_elem.max().loc['Stock Variation', ['Y2014','Y2015','Y2016','Y2017','Y2018']]
gp_d.to_frame().sort_values(by='Stock Variation', ascending=False)

      Stock Variation
Y2017          5089.0
Y2014          4569.0
Y2015          3418.0
Y2016          3266.0
Y2018          2226.0

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [12]:
gpd = grouped_elem.sum().loc['Processing', 'Y2017']
gpd

292836.0

In [13]:
Area_lo7 = df[["Y2017", "Area"]].groupby('Area').sum().sort_values(by='Y2017').iloc[6]
Area_lo7.to_frame()

       Guinea-Bissau
Y2017       19102.77

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [14]:
M_std = df.describe().loc[['mean', 'std'], 'Y2017']
M_std.round(2).to_frame()

        Y2017
mean   140.92
std   1671.86

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [15]:
missing = df["Y2014"].isnull().sum()
total = df["Y2014"].shape[0]
missing_percentage = (missing/total)*100
print(missing)
missing_percentage.round(3)

1589

2.607

Which year had the least correlation with ‘Element Code’?

In [16]:
corr_matrix = df.select_dtypes(include=np.number).corr()
Corr_Element_code = corr_matrix["Element Code"]
Corr_Element_code.sort_values(ascending = True)
Corr_Element_code.to_frame()

              Element Code
Area Code        -0.000209
Item Code        -0.024683
Element Code      1.000000
Y2014             0.024457
Y2015             0.023889
Y2016             0.023444
Y2017             0.024254
Y2018             0.024279

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [17]:
hiArea = df[["Y2017", "Area"]].groupby('Area').sum().sort_values(by='Y2017', ascending=False)
hiArea.iloc[0].to_frame()

          Nigeria
Y2017  1483268.23